{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/rsa.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>
</head>

<div class="elgamal-page">
    <div id='app'>
        [[ Response ]]
        <input class="form-control mt-3" v-model="name" placeholder="Ваше Имя">
        <input class="form-control" v-model="lastname" placeholder="Ваша Фамилия">
        <button :class="'btn', isResponse ? 'btn-success' : 'btn-primary']" @click="send">Отправить</button>
    </div>
</div>

<script>
    Vue.options.delimeters = ['[[', ']]'];

    let app = new Vue({
        el: '#app',

        data: {
            isResponse: false,
            name: null,
            lastname: null,
            Response: null
        },

        methods: {
            send() {
                axios({
                    method: 'post',
                    url: "./send",
                    data: {
                        name: this.name,
                        lastname: this.lastname
                    }
                }).then((response) => {
                    this.isResponse = true
                    this.Response = response.data.message
                });
            }
        }
    })
</script>

{% endblock content %}